@import "./../../../assets/styles/variables";

.footer {
  height: 60px;
  display: -webkit-flex;
  display: flex;
  margin: 0 25px;
  -webkit-align-items: center;
  align-items: center;
  border-top: $footerBorderTop;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: $footerColor;
  font-size: 14px;
  bottom: 0;
  margin-top: auto;
}

.font-weight-semibold {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .footer {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    bottom: 0;
    margin-top: auto;
  }
}
