@import "./../variables";

.home {
  @media screen and (min-width: 451px) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .figure-data-body {
    padding: 1.87rem;
    margin: 1.25rem;
    border-radius: 0.37rem;
    background-color: $cardBackgroundColor;
    .utils {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (min-width: 451px) {
      padding: 1.87rem;
      margin: 1.25rem;
    }
  }
}
