@import "./assets/styles/variables";

body {
  margin: 0;
  background-color: $bodyColor;
  color: $textColor;
}

/*modification of the color when selecting an element (full site)*/
::selection {
  background: #4362a0;
  color: #fff;
}
