@import "./../../../assets/styles/variables";

.header {
  height: 4rem;
  background-color: $headerNavBackgroundColor;
  box-shadow: $headerNavBoxShadow;
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      padding: 0;
      .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        padding: 0 1rem;
        transition: all 0.2s ease-in-out;
        .MuiButton-text {
          color: $headerNavButtonTextColor;
          font-size: 14px;
        }
        .MuiIconButton-root {
          color: $headerNavButtonRootIconColor;
        }
      }
      .logo {
        width: 3.37rem;
      }
    }
  }
}
