@import "./../variables";

.MuiAlert-root {
  &.MuiAlert-standardInfo {
    background-color: $alertBackgroundColor;
    color: $alertTextColor;
    border-radius: 0.625rem;
    .MuiAlert-icon {
      color: $alertIconColor;
    }
  }
}
