@import "./../variables";

.MuiTooltip-tooltip {
  background-color: $tooltipBackgroundColor;
  font-size: 14px;
  padding: 10px;
}

/*arrow*/
.MuiTooltip-arrow {
  color: $tooltipBackgroundColor;
}