@import "./../../assets/styles/variables";

.adminBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  background-color: $adminBoxBackgroundColor;
  border-radius: 0.37rem;
  padding: 1.87rem;
  display: flex;
  width: 20rem;
  flex-direction: column;
  .adminInput {
    margin-bottom: 1rem;
  }
  .delete-title {
    display: flex;
    justify-content: left;
  }
  .delete-subtitle {
    display: flex;
    justify-content: left;
  }
  .delete-buttons {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
  }
  hr {
    margin: 1rem 0;
  }
}
