/* style for table loader */
.loading {
  display: block;
}

.loading-text {
  display: flex;
  justify-content: center;
}

.figure-error {
  height: 20em;
  width: 20em;
}

.figure-loading {
  height: 20em;
  width: 20em;
}

/* style for stats loader */
.statistic-error {
  display: inline-block;
  line-height: 0;
  height: 4em;
  width: 4em;
  vertical-align: -1em;
  margin-right: 4px;
}

.statistic-loading {
  display: inline-block;
  line-height: 0;
  height: 4em;
  width: 4em;
  vertical-align: -1em;
  margin-right: 4px;
}
